/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    /*margin-left: 30%;
    margin-right: 30%;*/
   
    bottom: 5px;
    background: #c0c0c0;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
   display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: #fff;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* Fix bootstrap */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
    background: none;
    color: #fff;
}
.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open>a:focus, .navbar-default .navbar-nav > .open > a:active {
    background: none;
     opacity: 0.5;
    color: #555;
}

.navbar-header {
    float: left;
    /*padding: 15px;*/
    text-align: center;
    width: 100%;
    z-index:99;
}

.navbar-nav {
	font-size: 20px;
}

.navbar-brand {float:none;}

.navbar-default {
    background-color: #fff;
   border: none;
}

#bs-example-navbar-collapse-1 {
	margin-left:20%;
	margin-right:20%;
}

.navbar-nav>li>.dropdown-menu {
    opacity: 0.8;
}

.navbar-nav>li>.dropdown-menu>li:hover {
    opacity: 1;
}

.dropdown-menu {
	border: none;
}

#show-case
{
    /*box-shadow:1px 1px 5px 2px #0d456d;*/
    border-raduius:10px;
    /*height:400px;*/
    margin:10px auto;
    /*width:600px;*/
    /*max-width: 100%;*/
    position:relative;
    margin-bottom:35%;
}

.img, .img_gallery
{
    position:absolute;       
    max-width: 100%;
    height:auto;
}

.navbar {
	margin-bottom: 0px;
	margin-top: 90px;		
}

.nav, .footer-nav {
	/*padding-left:40px;*/
	font-family: 'Fjalla One', sans-serif;
}

ul>li>a {
	/*padding-left:40px;*/
	font-family: 'Fjalla One', sans-serif;
}


li {
	padding-left:30px;
	padding-right:30px;
}

#logo_img {
	 z-index:100;
  position: absolute;
  /*top: 15%;*/
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  /*margin-left: 2%;
  margin-right: 2%;*/
 
  transition:  opacity .3s ease-in;
-webkit-transition:  opacity .3s ease-in;
}

.home-info {
	position: relative;
	/*padding-top: 3%;*/
	margin-bottom: 5%;
}

.home-info > div > h1 {
	padding-bottom: 30px;
}

.home-info > div > h3 {
	padding-bottom: 15px;
}

.home-info > div > p {
	/*padding-bottom: 300px;*/
}

@media(max-width: 1400px) {
	
	#bs-example-navbar-collapse-1 {
	margin-left:10% !important;
	margin-right:10% !important;
   }
	
}


@media(max-width: 750px) {
    .navbar-collapse  {
    overflow-y: unset !important;
	}
	
	#show-case {
	box-shadow:none;
    border-raduius:0px;
	}
	
	#logo_img {
		display:none;
	}
	
	#button {
		margin-bottom:80px;
	}
	
	.nav>li{
		position: unset;
	}
	
	.navbar {
	margin-top: 20px;	
	padding-left:25%;	
	}
	
	
}